.adjust-size{
	font-size : 14px;
}

.bio-div{
	display: block;
}

.project{
	border : 2px solid #33FF00;
	border-radius: 10px;
}

.project a {
	font-family: "Open Sans";
	font-size: 18px;
}

.project p {
	font-family: "Ubuntu";
	font-size: 15px;
}