.adjust-size{
	font-size : 14px;
}

#bio{
	display: block;
}

#project-holder
{
	display: none;
}

.project{
	border : 2px solid #33FF00;
	border-radius: 10px;
	margin : 5px;
	padding: 5px;
}

.project a {
	font-family: "Open Sans";
	font-size: 18px;
}

.project p , .project p > a {
	font-family: "Ubuntu";
	font-size: 15px;
}