.pageHeader {
	padding: 10px;
	background-color: #000000;
	color: #ffffff	;
	height:230px ;
}

.nameHolder{
	font-size: 36px;
	font-family: "Helvetica";
	font-weight: bolder;
}

.adjust-size{
	font-size : 14px;
	color: #f0f0f0;
}


#bio{
	display: block;
}

#project-holder
{
	display: none;
}

.project{
	border : 2px solid #33FF00;
	border-radius: 10px;
	margin : 5px;
	padding: 5px;
}

.project a {
	font-family: "Open Sans";
	font-size: 18px;
}

.project p , .project p > a {
	font-family: "Ubuntu";
	font-size: 15px;
}

.hover{
	display: none;
	position: absolute;
	left: -500%;
	z-index: 4;
}

.hoverLink:hover + .hover {
	display: block;
}
.hoverLink:hover + .hover:hover {
	display: block;
}
.leftSide
{
	width: 30%;
}

.rightSide
{
	width: 70%;
}

.header{
	padding: 10px;
	color: black;
	font-size: 36px;
}

.summary {
	background-color: #f0f0f0;
	height: 100px;
}
.bio-text{
	background: #f3f3f3;
	padding:0px;
}

.innerText{
	padding-left: 10px;
}

nav {
	cursor: pointer;
}

.align{
	text-align: center;
}